[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Halo
Comment=Weather App
Exec=python3 -m halo
Icon=halo
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;